<div class="container">
  <h2>Welcome <%= current_user.first_name%>!</h2>
  <img src="http://1.media.dorkly.cvcdn.com/57/82/014c67406a541837b841a9b7ac6cfed9-corgi-link-cosplay.jpg" width="200" height="200"/>
  <br>
  <h3>Personal Information:</h3>
  <p><li>First Name: <%= current_user.first_name%></li>
  <li>Last Name: <%= current_user.last_name%>
  <li>Phone Number: <%= current_user.phone%></li>
  <li>Email Address: <a href="<%= current_user.email%>"><%= current_user.email%></a></li>
  <%= erb :_choose_pressure %>
  <%= erb :_todays_appts %>
  <%= erb :_past_appts %>
</div>
